{% extends "base.html" %} {% block title %}Forgot Password{% endblock title %} {% block body %}

<h1>Request Password Reset</h1>

<form method="POST" action="/password/request-reset">
    <div class="form-group">
        <label for="inputEmail">Email Address</label>
        <input class="form-control" type="email" id="inputEmail" name="email" placeholder="Email Address" autofocus required />
    </div>

    <button class="btn btn-default" type="submit">Send Password Reset</button>
</form>

{% endblock body %}