{% extends "base.html" %} {% block title %}About{% endblock title %} {% block body %}

<div class="center-block">
    <h1>About</h1>
    <h4>miniH PHP Framework <small>version {{ frameworkVersion }}</small></h4>
    <h4>PHP version 7.0</h4>
    <h4>PHP templating Engine: <a href="https://twig.sensiolabs.org/">Twig</a></h4>
    <h4>PHP mailing features: <a href="https://github.com/PHPMailer/PHPMailer">PHP Mailer</a></h4>
    <h4>jQuery validation plugin: <a href="https://jqueryvalidation.org/">jQuery validation</a></h4>
    <h4>CSS by <a href="https://bootswatch.com/">BOOTSWATCH</a></h4>
</div>

{% endblock body %}